name: CD
on:
  push:
    branches: [main]
permissions:
  id-token: write

jobs:
  deploy-locker:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./app/locker
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version-file: ./app/locker/package.json
      - id: wrangler-version
        run: |
          version=$(jq -r '.devDependencies.wrangler' package.json)
          version=${version#^}
          version=${version#~}
          echo "wranglerVersion=$version" >> "$GITHUB_OUTPUT"
      - uses: cloudflare/wrangler-action@707f63750981584eb6abc365a50d441516fb04b8
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          wranglerVersion: ${{ steps.wrangler-version.outputs.wranglerVersion }}
          workingDirectory: ./app/locker

  deploy-analyzer:
    needs: deploy-locker
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./app
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - id: configure-aws-credintials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502
        with:
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE_ARN }}
          role-session-name: oidc
          aws-region: ap-northeast-1
          output-credentials: true
      - id: login-ecr
        uses: aws-actions/amazon-ecr-login@d63b14614fe5d7fc5e5e52c523dea4e876816cc4
      - id: build-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: keeput
          IMAGE_TAG: analyzer_${{ github.sha }}
          AWS_ACCESS_KEY_ID: ${{ steps.configure-aws-credintials.outputs.aws-access-key-id }}
          AWS_SECRET_ACCESS_KEY: ${{ steps.configure-aws-credintials.outputs.aws-secret-access-key }}
          AWS_SESSION_TOKEN: ${{ steps.configure-aws-credintials.outputs.aws-session-token }}
        run: |
          docker buildx build -f Dockerfile.Analyzer --platform linux/amd64 --secret type=env,id=AWS_ACCESS_KEY_ID,env=AWS_ACCESS_KEY_ID --secret type=env,id=AWS_SECRET_ACCESS_KEY,env=AWS_SECRET_ACCESS_KEY --secret type=env,id=AWS_SESSION_TOKEN,env=AWS_SESSION_TOKEN --provenance=false -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          echo "image=$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG" >> $GITHUB_OUTPUT
      - name: Deploy Lambda function with container image
        uses: aws-actions/aws-lambda-deploy@29ea35c124579506cf0475e20df36198eb670d89
        with:
          function-name: keeput-analyzer
          package-type: Image
          image-uri: ${{ steps.build-image.outputs.image }}
