name: CD
on:
  push:
    branches: [main]
permissions:
  id-token: write

jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      locker: ${{ steps.filter.outputs.locker }}
      analyzer: ${{ steps.filter.outputs.analyzer }}
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3
      id: filter
      with:
        filters: |
          locker:
            - 'app/locker/**'
          analyzer:
            - 'app/analyzer/**'

  deploy-locker:
    needs: changes
    if: needs.changes.outputs.locker == 'true'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./app/locker
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: ./app/locker/package.json
      - id: wrangler-version
        run: |
          version=$(jq -r '.devDependencies.wrangler' package.json)
          version=${version#^}
          version=${version#~}
          echo "wranglerVersion=$version" >> "$GITHUB_OUTPUT"
      - uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          wranglerVersion: ${{ steps.wrangler-version.outputs.wranglerVersion }}
          workingDirectory: ./app/locker

  deploy-analyzer:
    needs: [changes, deploy-locker]
    if: always() && !contains(needs.*.result, 'failure') && !contains(needs.*.result, 'cancelled') && needs.changes.outputs.analyzer == 'true'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./app/analyzer
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - id: configure-aws-credintials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE_ARN }}
          role-session-name: oidc
          aws-region: ap-northeast-1
          output-credentials: true
      - uses: fujiwara/lambroll@15e5abbb9d301d85ae0fda6449c5e59e509494a5 # v1.4.1
        with:
          version: v1.4.1
      - env:
          ENV: prodcution
          FUNCTION_NAME: keeput-analyzer-prod
          TFSTATE_URL: s3://keeput-tf-state/prod/analyzer/service/terraform.tfstate
          ECR_REPOSITORY: keeput-analyzer-lambda-prod
          IMAGE_TAG: ${{ github.sha }}
          AWS_ACCESS_KEY_ID: ${{ steps.configure-aws-credintials.outputs.aws-access-key-id }}
          AWS_SECRET_ACCESS_KEY: ${{ steps.configure-aws-credintials.outputs.aws-secret-access-key }}
          AWS_SESSION_TOKEN: ${{ steps.configure-aws-credintials.outputs.aws-session-token }}
        run: |
          FUNCTION_NAME=$FUNCTION_NAME REPOSITORY=$ECR_REPOSITORY IMAGE_TAG=$IMAGE_TAG LAMBROLL_TFSTATE_URL=$TFSTATE_URL make deploy
