name: CD
on:
  push:
    branches: [main, issue-90]
permissions:
  id-token: write

jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      locker: ${{ steps.filter.outputs.locker }}
    steps:
    - uses: dorny/paths-filter@v3
      id: filter
      with:
        filters: |
          locker:
            - 'app/locker/**'

  deploy-locker:
    needs: changes
    if: ${{ needs.changes.outputs.locker == 'true' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./app/locker
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: ./app/locker/package.json
      - id: wrangler-version
        run: |
          version=$(jq -r '.devDependencies.wrangler' package.json)
          version=${version#^}
          version=${version#~}
          echo "wranglerVersion=$version" >> "$GITHUB_OUTPUT"
      - uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          wranglerVersion: ${{ steps.wrangler-version.outputs.wranglerVersion }}
          workingDirectory: ./app/locker

  deploy-analyzer:
    needs: deploy-locker
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./app
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0
      - id: configure-aws-credintials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE_ARN }}
          role-session-name: oidc
          aws-region: ap-northeast-1
          output-credentials: true
      - uses: fujiwara/lambroll@15e5abbb9d301d85ae0fda6449c5e59e509494a5 # v1.4.1
        with:
          version: v1.4.1
      - env:
          FUNCTION_NAME: keeput-analyzer-prod
          TFSTATE_URL: s3://keeput-tf-state/prod/analyzer/service/terraform.tfstate
          ECR_REPOSITORY: keeput-analyzer-lambda-prod
          IMAGE_TAG: ${{ github.sha }}
          AWS_ACCESS_KEY_ID: ${{ steps.configure-aws-credintials.outputs.aws-access-key-id }}
          AWS_SECRET_ACCESS_KEY: ${{ steps.configure-aws-credintials.outputs.aws-secret-access-key }}
          AWS_SESSION_TOKEN: ${{ steps.configure-aws-credintials.outputs.aws-session-token }}
        run: |
          ANALYZER_FUNCTION_NAME=$FUNCTION_NAME ANALYZER_REPOSITORY=$ECR_REPOSITORY ANALYZER_IMAGE_TAG=$IMAGE_TAG ANALYZER_LAMBROLL_TFSTATE_URL=$TFSTATE_URL make deploy-analyzer
