name: CI
on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]

jobs:
  golangci-lint:
    defaults:
      run:
        shell: bash
        working-directory: app
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: ./app/go.mod
      - name: Run lint
        run: make lint-go
  go-std-test:
    defaults:
      run:
        shell: bash
        working-directory: app
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: ./app/go.mod
      - name: Run test
        run: make test-go
