name: CI
on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]

jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      locker: ${{ steps.filter.outputs.locker }}
      analyzer: ${{ steps.filter.outputs.analyzer }}
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3
      id: filter
      with:
        filters: |
          locker:
            - 'app/locker/**'
          analyzer:
            - 'app/analyzer/**'

  analyzer-lint:
    needs: [changes]
    if: needs.changes.outputs.analyzer == 'true'
    defaults:
      run:
        shell: bash
        working-directory: ./app/analyzer
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: ./app/analyzer/go.mod
      - name: Run lint
        run: make lint
  analyzer-test:
    needs: [changes]
    if: needs.changes.outputs.analyzer == 'true'
    defaults:
      run:
        shell: bash
        working-directory: ./app/analyzer
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: ./app/analyzer/go.mod
      - name: Run test
        run: make test
