name: CI
on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]

jobs:
  golangci-lint:
    defaults:
      run:
        shell: bash
        working-directory: app
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: ./app/go.mod
      - name: Run lint
        run: make lint-go
  go-std-test:
    defaults:
      run:
        shell: bash
        working-directory: app
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: ./app/go.mod
      - name: Run test
        run: make test-go
